# Venv
/build
*venv/
.venv/

# Build Files
*.egg-info
__pycache__

# Personal files
/learning_docs

# Bank Statements
/resources/statements

# Env files
.env*

# Personal files
TODO*

# IDE
.Vscode
.idea